apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: app-pvc
  namespace: stg
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: standard