# PVC (Same for ALL Envs & Clouds)
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: app-pvc
  namespace: prod
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi
  storageClassName: premium-prd